/************************
 **    RESET CSS       **
 ************************/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}


/************************
 **        BASE        **
 ************************/
:root {
    --primary-color: #2D4A31;
    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;
    --light-background-color: #FFFFFF;
    --font-regular: 'Lato', 'Helvetica', 'Arial', sans-serif;
    --breakpoint-lg: 914px;
    --breakpoint-md: 740px;
    --breakpoint-sm: 470px;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-regular);
    color: var(--text-color-light);
}

/************************
 **    SITE STYLING    **
 ************************/

.dark-logo .fjallelit-logo .base-color path,
.dark-logo .fjallelit-logo .base-color rect {
    fill: black !important;
}

header {
    max-width: 962px;
    height: 520px;
    margin: auto;
}
@media (max-width: 740px) {
    header {
        height: 420px;
    }
}
header .left {
    width: 386px;
}
header .right, header .right img {
    height: 520px;
}

.section {
    padding: 48px 24px;
}
.section p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.section-light {
    background-color: var(--light-background-color);
    color: var(--text-color-dark);
}
.tag-cloud {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.tag-cloud li {
    padding: 0 20px;
}

.mountains {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -80px;
    margin-bottom: -2px;
}

footer {
    background-color: var(--light-background-color);
    min-height: 196px;
    padding-left: 24px;
    padding-right: 24px;
}
footer .content {
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
    min-height: 196px;
    padding-bottom: 16px;
}
footer .dark-logo {
    width: 294px;
}


/************************
 **       UTILS        **
 ************************/

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
@media (max-width: 740px) {
    .md\:flex-column {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 470px) {
    .sm\:flex-column {
        display: flex;
        flex-direction: column;
    }
}

.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
@media (max-width: 914px) {
    .lg\:justify-center {
        justify-content: center;
    }
}

.text-base {
    font-size: 16px;
}
.text-lg {
    font-size: 20px;
}
.text-title {
    font-size: 28px;
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-3 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-6 {
    margin-bottom: 48px;
}
.mb-8 {
    margin-bottom: 64px;
}
.mb-10 {
    margin-bottom: 80px;
}
.text-black {
    color: #000000;
}


.font-normal {
    font-weight: 400;
}
.font-bold {
    font-weight: 700;
}

.hidden {
    display: none;
}
@media (max-width: 914px) {
    .lg\:hidden {
        display: none;
    }
}